#game-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
}


#screen, #pipes, #background, #program, #screen, #netting {
    background: black;
    z-index: 1;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

#screen, #background, #program, #screen, #netting {
    position: fixed;
    left: 150px;
}