#game-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 600px;
}


#glitch, #pipes, #background, #program, #foreground, #netting {
    background: black;
    z-index: 5;
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    -ms-interpolation-mode: nearest-neighbor;
    image-rendering: pixelated;
}

#glitch, #background, #program, #screen, #netting {
    position: fixed;
    left: 150px;
}

#glitch {
    z-index: 4;
}

#foreground {
    z-index: 3;
}

#program {
    z-index: 2;
}

#background {
    z-index: 1;
}